/* for search button  */
/* { */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px 20px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    cursor: pointer;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  }
  
  .button:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
  }
  
  .button:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(
      90deg,
      rgba(222, 0, 75, 1) 0%,
      rgba(191, 70, 255, 1) 49%,
      rgba(0, 212, 255, 1) 100%
    );
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }
  
  .button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
/* } */


  /* for search symbol  */
  #search-symbol{
    height: 20px;
    width: 20px;
  }

  /* for search bar */
  /* { */
.input {
  border: none;
  outline: none;
  border-radius: 18px;
  padding: 10px 45px 10px 15px;
  margin-right: 10px;
  background-color: #def6fe;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
/* } */

#logo{
  height: 45px;
  margin-left: 10px;
}

.nav-button{
  color: white;
  font-size: 17px;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.signup-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

SUP{
  color: red;
}

.heading{
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 20px;
  border-radius: 20px;
  padding: 15px;
}

.question-list {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  /* background-color: aquamarine; */
  background: url('bg-project.gif') repeat center center fixed;
}

.question-list h4{
  margin: 0;
  padding: 0;
}

.question-list a , .question-title{
  font-size: 18px;
  text-decoration: none;
  color: #ffffff !important;
}

.comment-wrapper{
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
}

.my-questions{
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  width: 100%;
}

.navbar .nav-link {
  transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  color: #ffc107 !important;
}

.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

body{
  /* background-color: black; */
  background: url('bg_gif.gif') no-repeat center center fixed;
  background-size: cover;
}

.navbar-section{
  border-radius: 35px;
  margin-top: 20px;
}

.navbarone{
  border-radius: 35px;
  /* background-color: rgb(48, 48, 48); */
}

/* changes */

.container-signup{
  /* background-color: white; */
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 600px;
  height: 670px;
}

#signup-form{
  border-radius: 30px;
  /* background-color: chartreuse; */
  height: 554px;

}

.form-control{
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.signup-button{
  border-radius: 10px;
}

.row{
  color: white;
}

.btn{
  margin-bottom: 40px;
}



/* buttons css */

.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}





/* input field */

.form-control {
  --border-radius: 15px;
  --border-width: 4px;

  position: relative;
  padding: 1em 2em;
  border: none;
  background-color: #cccccc;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: var(--border-radius);
  outline: none;
  z-index: 0;

  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.form-control:focus {
  box-shadow: 0 0 20px #ff3700, 0 0 25px #ff601b;
  background-color: #2a2a2a;
  color: white;
}

.form-control::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  width: calc(100% + calc(var(--border-width) * 2));
  height: calc(100% + calc(var(--border-width) * 2));
  background: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  border-radius: calc(var(--border-radius) + var(--border-width));
  animation: rotate-hue 3s linear infinite;
  filter: hue-rotate(0deg);
  transition: filter 0.3s ease-in-out;
}

.form-control:hover::before {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(360deg);
  }
}

